*.DS_Store
*.xcuserstate
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/project.pbxproj
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/xcuserdata/aleksey.xcuserdatad/xcschemes/xcschememanagement.plist
lesson09(Delegates)/DelegatesTest/DelegatesTest/AppDelegate.h
lesson09(Delegates)/DelegatesTest/DelegatesTest/AppDelegate.m
lesson09(Delegates)/DelegatesTest/DelegatesTest/Assets.xcassets/AppIcon.appiconset/Contents.json
lesson09(Delegates)/DelegatesTest/DelegatesTest/Assets.xcassets/Contents.json
lesson09(Delegates)/DelegatesTest/DelegatesTest/Base.lproj/LaunchScreen.storyboard
lesson09(Delegates)/DelegatesTest/DelegatesTest/Base.lproj/Main.storyboard
lesson09(Delegates)/DelegatesTest/DelegatesTest/ViewController.m
lesson09(Delegates)/DelegatesTest/DelegatesTest/ViewController.h
lesson09(Delegates)/DelegatesTest/DelegatesTest/Patient.m
lesson09(Delegates)/DelegatesTest/DelegatesTest/Patient.h
lesson09(Delegates)/DelegatesTest/DelegatesTest/main.m
lesson09(Delegates)/DelegatesTest/DelegatesTest/Info.plist
lesson09(Delegates)/DelegatesTest/DelegatesTest/Base.lproj/Main.storyboard
lesson09(Delegates)/DelegatesTest/DelegatesTest/Base.lproj/LaunchScreen.storyboard
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/project.pbxproj
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
lesson09(Delegates)/DelegatesTest/DelegatesTest.xcodeproj/xcuserdata/aleksey.xcuserdatad/xcschemes/xcschememanagement.plist
lesson09(Delegates)/DelegatesTest/DelegatesTest/AppDelegate.h
lesson09(Delegates)/DelegatesTest/DelegatesTest/AppDelegate.m
lesson09(Delegates)/DelegatesTest/DelegatesTest/Assets.xcassets/AppIcon.appiconset/Contents.json
lesson09(Delegates)/DelegatesTest/DelegatesTest/Assets.xcassets/Contents.json
lesson09(Delegates)/DelegatesTest/DelegatesTest/Base.lproj/LaunchScreen.storyboard
lesson09(Delegates)/DelegatesTest/DelegatesTest/Base.lproj/Main.storyboard
lesson09(Delegates)/DelegatesTest/DelegatesTest/Info.plist
lesson09(Delegates)/DelegatesTest/DelegatesTest/main.m
lesson09(Delegates)/DelegatesTest/DelegatesTest/Patient.h
lesson09(Delegates)/DelegatesTest/DelegatesTest/Patient.m
lesson09(Delegates)/DelegatesTest/DelegatesTest/ViewController.h
lesson09(Delegates)/DelegatesTest/DelegatesTest/ViewController.m
